{% extends 'portfolio/base.html' %}

{% block content %}

    <div class="container text-center">


      {% load static %}

      <br>

      <img src="{% static 'portfolio/me_out_of_focus.jpg' %}">

      <div class="row justify-content-center mb-3">
        <div class="col-md-9 text-center">

        <br>
        <h2>Little man who wants changes</h2>
        <br>
        </div>
      </div>
      <hr size=75%>

      <div class="row">
        {% for project in projects %}
          <div class="col-lg-4 col-md-6">
              {% if project.url %}
                <a href="{{ project.url }}"><image src='{{ project.image.url}}' width=400></a>
              {% else %}
                <image src='{{ project.image.url }}' width=400>
              {% endif %}
              <h2>{{ project.title }}</h2>
              <p>{{ project.discription }}</p>

          </div>
        {% endfor %}
      </div>


    </div>

{% endblock %}
