div.main {
  margin-left: 0;
  margin-right: 0;
  background-color: lightgray;
  padding: 20px;
}

td img {
  width: 400px;
}

td div {
  background-color: white;
  border: 3px solid gray;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  max-width: 446px;
}

td div:hover {
  border: 3px solid black;
}

td p {
  word-break: normal;
  width: 400px;
  height: auto;
  text-align: justify;
}

div.scroll {
    margin: 4px, 4px;
    padding: 10px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 3px solid gray;
    border-radius: 10px;
}

div.scroll::-webkit-scrollbar {
width: 10px;
height: 10px;
}

div.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: lightgray;
  border-radius: 10px;
}

div.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: gray;
}

td {
  border: 20px solid lightgray;
}

.gray {
  color: gray;
}
